<div class="thumbnail">
  <div class="row">
    <div class="col-md-6">
      <img height=100% width=100% id="harryPotter" src={{article.image}}>
    </div>
    <div class="col-md-6">
      {{article.content}}{{article.author}}
    </div>
  </div>
</div>
